$color:blue;
#div1{
    color:$color;
    border:1px solid $color;
    #div2{
        color: $color;
    }
}

.header{
    color: $color;
    &-title{
        color: $color;
    }
    &:hover{
        color:$color;
        border: {
            left: 1px soild black;
            right: 1px soild red;
        };
    }  
    
}

$keyname:"color";
.div3{
    #{$keyname}:$color;
}

@mixin foo($num,$col:red) {
    width: $num;
    height: $num;
    background-color: $col;
}

.div4{
    @include foo($col:pink,$num:100px);
    margin: 10px;
}

.div5{
    @include foo(200px,blue);
    margin: 10px;
}

.div6{
    width: 100px;
    height: 100px;
}

.div7{
    @extend .div6;
    padding:10px;
}

@import "./base.scss";

// @for $i from 1 to 10{
//      .test-#{$i}{
//          width: $i * 100px;
//      }
// }

// @for $i from 1 through 10{
//     .test-#{$i}{
//         width: $i * 100px;
//     }
// }

$list3:red blue yellow green gray;
@each $var in $list3 {
    .#{$var}-text{
        color: $var;
    }
}


$i:1;
@while $i<10 {
    .box-#{$i}{
        width: 1000px;
    }
    $i:$i + 1;
}


@function fooo($val){
    @if ($val > 10) {
        @return red;
    }@else if($val <= 10){
        @return blue;
    }
}
.div8{
    color: fooo(9);
}


$hnum:100px;
$num1:5.9px;
$str1:"xxx.png";
.div9{
    height: ($hnum / 10) * 10;
    // width: abs($num1);
    // width: round($num1);
    // width: floor($num1);
    width: percentage(10px / 100px);
    background-image: url('./src/dist/'+ to-upper-case($str1));
}

$color1:rgb(250,0,0);
$color2:rgb(250,255,0);
.div10{
      // color: darken($color1,30%);
    // color: lighten($color1,30%);
    // color: opacify($color2,.3);
    color: transparentize($color2,.2);
}

$list1:1px soild black;
$list2:red green blue;
.div11{
    border: {
        right: $list1;
        left: $list1;
    };
    color: nth($list2,2);
}

$map1:(color1:red,font-size:10px);
.div12{
    background-color: map-get($map1,color1);
}


$key1:5;
.div13{
    @if($key1 < 5){
        color: red;
    }@else if($key1<10 and $key1 >= 5){
        color: blue;
    }@else{
        color: yellow;
    }
}